<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 맵핑될 DAO 인터페이스의 패키지명 포함 Full name으로 해당 mapper.xml 파일에 연결된다. -->
<mapper namespace="com.example.boot.dao.MaintenanceDAO">

    <select id="getStateList" resultType="map">
        SELECT COD_DESC
        FROM HD_CODE
        WHERE COD_TYPE='STATE'
        ORDER by COD_CODE
    </select>

    <select id="getMaintenanceList" parameterType="map" resultType="map">
        SELECT ROW_NUMBER() OVER (ORDER BY MNG_CODE DESC) AS NO, X.*
        FROM (SELECT
        MNG_CODE,
        MNG_SEQ,
        MNG_COMPANY,
        MNG_PERSON,
        MNG_CONTACT,
        MNG_SITE,
        MNG_BG,
        MNG_SYSTEM,
        MNG_TYPE,
        DBMS_LOB.SUBSTR(MNG_DESC_R, 200) AS MNG_DESC_R,
        DBMS_LOB.SUBSTR(MNG_DESC_S, 200) AS MNG_DESC_S,
        MNG_STATUS,
        MNG_START,
        MNG_CLOSE,
        CREATE_DATE,
        SAVE_DATE
        FROM HD_MANAGE
        WHERE MNG_CODE BETWEEN '${startPeriod}' AND '${endPeriod}' -- 기간 {startPeriod} {endPeriod}
        <if test="mngStatus != null and mngStatus !='ALL'">
            AND MNG_STATUS = '${mngStatus}'--상태
        </if>
        <if test="mngStatus == 'ALL'"> --[전체]

        </if>
        <if test="descSearch !=null and descSearch !=''"> -- 대소문자 관계없이 검색
            AND (LOWER(DBMS_LOB.SUBSTR(MNG_DESC_R, 200)) LIKE '%'||LOWER('${descSearch}')||'%'
            OR LOWER(DBMS_LOB.SUBSTR(MNG_DESC_S, 200)) LIKE '%'||LOWER('${descSearch}')||'%')
        </if>
        <if test="descSearch ==null or descSearch ==''"> --[검색어 입력없음]

        </if>
        -- AND MNG_SITE = '' -- SITE
        -- AND MNG_BG = '' -- BG
        -- AND MNG_SYSTEM = '' --SYSTEM
        -- AND MNG_TYPE = '' -- TYPE
        -- AND MNG_COMPANY = '' -- 상호
        -- AND MNG_PERSON = '' -- 요청자
        -- AND MNG_CONTACT = '' -- 연락처
        ) X

    </select>

</mapper>
